<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Science, Computer Science (Cybersecurity)</h1>
            <span>Ira A. Fulton Schools of Engineering, Arizona State University, <address>Tempe, AZ</address></span></br>
            <span>Anticipated Graduation:<time> May, 2020</time></span><br>
            <span>Accelerated 4+1</span>
        </header>
        <p>
            <em>GPA: 3.89</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Science, Computer Science</h1>
            <span>Ira A. Fulton Schools of Engineering, Arizona State University, <address>Tempe, AZ</address></span></br>
            <span>Barrett, The Honors College</span><br>
            <span><time>August, 2015 to December, 2018</time></span>
        </header>
        <p>
            <em>GPA: 3.60</em></br>
            <em>Honors: Cum Laude, Dash Scholar</em><br>
            <em>Thesis: Can You Mix It? An Analysis of Bitcoin Mixers <a href="https://repository.asu.edu/items/50972">(READ HERE)</a></em>
        </p>
    </article>
</section>
