<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Boeing Company | Network Security Specialist Intern</h1>
            <span><address>Bellevue, Washington</address><time> May, 2019 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Arizona State University | Graduate Research Assistant</h1>
            <span><address>Tempe, Arizona</address><time> December, 2018 to Present</time></span>
        </header>
        <p>Continuation of undergraduate blockchain security research under the direction of Dr. Adam Doupé and Dr. Yan Shoshitaishvili. Research methods to deanonymize cryptocurrency mixing through .onion hidden services.</p>
    </article>
    <article>
        <header>
            <h1>Boeing Company | Global IT Infrastructure Services Intern</h1>
            <span><address>St. Louis, MO</address><time>May, 2018 - August, 2018</time></span>
        </header>
        <p>Member of Major Incident Management (MIM) and Enterprise Problem Management (EPM). Facilitated technical calls to find solutions to high severity major incidents (network and application outages). Conducted root cause analysis on major incidents to improve efficiency and effectiveness in IT processes and methods.</p>
    </article>
    <article>
        <header>
            <h1>State Farm | Software Development Co-op</h1>
            <span><address>Tempe, AZ</address><time>July, 2017 to May, 2018</time></span>
        </header>
        <p>Successfully completed assigned tickets on VersionOne requiring AuthN maintenance and OAuth 2.0 implementation using Java while maintaining acceptable code coverage. Created automated scans using Jenkins for NIQS, Checkmarx, and Sonar reports on existing projects that handle about 65 million logins per day.</p>
    </article>
    <article>
        <header>
            <h1>State Farm | IT/Systems Intern</h1>
            <span><address>Tempe, AZ</address><time>May, 2017 to July, 2017</time></span>
        </header>
        <p>Contributed to Core Computing Solutions Authentication Team through OAuth project using Spring Tool Suite, GitLab, Java, JUnit testing, ReactJS, EclEmma, Spring Framework, and Maven. Established strong understanding of Agile Methodologies and OAuth 2.0 grant types and flows. </p>
    </article>
</section>
