<section class="thirteen columns">
    <h1>Involvement</h1>
    <article>
        <header>
            <h1>Pwndevils, ASU</h1>
            <span><time>August, 2019 to Present</time></span>
        </header>
        <p>
            Collaborating with fellow cybersecurity students and learning to participate in Capture the Flag competitions. Expanding my knowledge of Linux commands to exploit vulnerabilities in systems via hands-on war game exercises.
        </p>
    </article>
    <article>
        <header>
            <h1>Fulton Undergraduate Research Initiative, ASU</h1>
            <span><time>August, 2018 to December, 2018</time></span>
        </header>
        <p>
            Selected to conduct university-funded research with Dr. Adam Doupe in blockchain security.
        </p>
    </article>
    <article>
        <header>
            <h1>Fulton Ambassador, Ira A. Fulton Schools of Engineering </h1>
            <span><time>November, 2016 to January, 2018</time></span>
        </header>
        <p>
            Serve as leader/ambassador for Fulton Schools to support outreach.
        </p>
    </article>
    <article>
        <header>
            <h1>Software Developers Association, ASU</h1>
            <span><time>August, 2015 to August, 2018</time></span>
        </header>
        <p>
            Collaborate and express passion for software development through tech talks and coding competitions.
        </p>
    </article>
</section>
