<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1><a href="https://github.com/jpakki/Port-Scanner">IP-2-Phys</a></h1>
            <span><time>Fall, 2018</time></span>
        </header>
        <p>Personal project to reveal open ports on a device within a network. Written in Python 3 and implements python-nmap port scanning functionality.</p>
    </article>
    <article>
        <header>
            <h1><a href="https://github.com/jpakki/Port-Scanner">TCP Port Scanner</a></h1>
            <span><time>Fall, 2018</time></span>
        </header>
        <p>Personal project to reveal open ports on a device within a network. Written in Python 3 and implements python-nmap port scanning functionality.</p>
    </article>
</section>
