<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Everything You Ever Wanted to Know About Bitcoin Mixers (But Were Afraid to Ask)</h1>
            <span>Jaswant Pakki, <a href="https://www.yancomm.net/">Yan Shoshitaishvili</a>, <a href="https://ruoyuwang.me/">Ruoyu (Fish) Wang</a>, <a href="https://www.tiffanybao.com/">Tiffany Bao</a>, <a href="https://adamdoupe.com/">Adam Doupé</a></span></br>
            <span><a href="https://fc21.ifca.ai/index.php">Financial Cryptography and Data Security 2021</a></span><br>
        </header>
        <p>
            <em>GPA: 3.89</em><br>
            <em>Thesis: Everything You Ever Wanted to Know About Bitcoin Mixers (But Were Afraid to Ask) <a href="https://repository.asu.edu/items/57199">(READ HERE)</a></em>
        </p>
    </article>
</section>
