<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
          <h1>Languages</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Python, Java</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C++</em>, <em>SQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em>, <em>C</em>, <em>Javascript</em>
        </p>
    </article>
    <article>
        <header>
          <h1>Security</h1>
        </header>
        <p>Linux, Powershell, Wireshark, NMAP, TCP/IP, hping3, Metasploit, Threat Modeling, Software-Defined Networking, Ethical Hacking Fundamentals, Web Security, ProDiscover</p>
    </article>
    <article>
      <header>
        <h1>Software Development</h1>
      </header>
      <p>GitHub, JUnit Testing, Maven, Jenkins, EclEmma, Jira, VersionOne, Agile Methodologies, Spring Tool Suite, Node.js</p>
    </article>
</section>
